.aboutUs{
    @include section;

    @include px1400{
        padding-bottom: 6vh;
    }

    &__title {
        @include title;
    }

    &__discription {
        font-weight: 600;

        @include px1400{
            font-size: 28px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        @include px1024-1399{
            font-size: 24px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        @include px768-1023{
            font-size: 20px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        @include px767{
            font-size: 18px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }
    }
}