.compensatory-reforestation {
    position: relative;

    margin-top: 156px;
    padding-bottom: 183px;

    &__img-block {
        position: absolute;
        top: 0;
        right: 0;
        width: 41.3%;
        height: 81.4%;

        background-image: url('../img/compensatory-reforestation/1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;

        border-radius: 14px 0 0 14px;

        &::after{
            content: '';
            display: block;

            position: absolute;
            left: 10px;
            bottom: 10px;

            width: 100%;
            height: 100%;

            border: 1px solid #B7C7BE;
            box-sizing: border-box;
            border-radius: 14px;

            z-index: -1;
        }
    }

    &__container {
        @include px1024{
            padding-top: 32px;
        }
    }

    &__content-container{
        max-width: 60.8%;
    }

    &__title {
        font-size: 33px;
        font-weight: 600;
        line-height: 19px;

        text-transform: uppercase;

        @include px1024{
            margin-bottom: 15px;
        }
    }

    &__description{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

        @include px1024{
            &:not(:last-child){
                margin-bottom: 7px;
            }
        }
    }

    &__post-container{
        position: relative;

        background: #ECF2E6;
        border-radius: 5px;

        @include px1024{
            margin-top: 27px;
            padding: 41px 32px 43px 39px;
        }

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: -9px;
            right: 13px;

            width: 45px;
            height: 45px;

            background-image: url('../img/svg/compensatory-reforestation/paperclip.svg');
            background-position: center;
            background-size:contain;
            background-repeat: no-repeat;

        }
    }

    &__post-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 19px;

        @include px1024{
            margin-bottom: 9px;
        }
    }

    &__post-description {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;

        &_text-decor{
            font-style: italic;
        }

        @include px1024{
            &:not(:last-child){
                margin-bottom: 7px;
            }
        }

    }
}
