.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    padding: 2vh;
    z-index: 9999;
    width: 100vw;
    transform: translateY(80%);
    background-color: $DARK-GRAY;
    opacity: 0.7;
    transition: opacity 0.3s , background-color,  transform 0.3s;

    &:hover{
        opacity: 1;
        transform: translateY(0%);
        transition: opacity 0.3s , background-color,  transform 0.3s;
    }

    &:hover > .footer__container::after{
        background-image: url("../img/svg/logo-active.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__container{
        height: 100%;
        width: 100%;
        position: relative;

        display: flex;
        flex-direction: column;

        &::after{
            content: "";
            display: block;

            position: absolute;
            top: 50%;
            left: 5vw;

            transform: translateY(-50%);

            height: 90%;
            width: 25vw;

            z-index: -1;
        }

    }

    &__title {
        font-weight: 800;
        font-family:'TimesNewItalic', sans-serif;

        @include px1400{
            font-size: 45px;
            margin-bottom: 10vh;
        }
    
        @include px1024-1399{
            font-size: 32px;
        }
    
        @include px768-1023{
            font-size: 32px;
        }
    
        @include px767{
            font-size: 26px;
        }

        text-align: center;
    }

    &__list {
        margin-bottom: 15vh;
    }

    &__item {
        &:not(:last-child){
            margin-bottom: 3vh;
        }
    }

    &__item-disscription {
        @include px1024{
            font-size: 26px;
            font-weight: 600;
        }

        @include px768{
            font-size: 22px;
            font-weight: 600;
        }

        @include px767{
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__item-link {
        display: inline-block;

        transition: transform 0.3s;

        &:hover,
        &:focus{
            transform: translateX(10%) scale(1.2);
            transition: transform 0.3s;
        }

        @include px1024{
            font-style: italic;
            font-size: 26px;
            font-weight: 600;
        }

        @include px768{
            font-style: italic;
            font-size: 22px;
            font-weight: 600;
        }

        @include px767{
            font-style: italic;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__copywriter{
        margin-top: auto;
        text-align: center;
        

        @include px1024{
            font-size: 26px;
            font-weight: 600;
        }

        @include px768-1023{
            margin-bottom: 4vh;
            font-size: 22px;
            font-weight: 600;
        }

        @include px767{
            margin-bottom: 4vh;
            font-size: 20px;
            font-weight: 600;
        }
    }
}