.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    padding: 2vh;
    z-index: 9999;
    width: 100vw;
    background-color: $DARK-GRAY;
    opacity: 0.7;
    transition: opacity 0.3s , background-color,  transform 0.3s;

    @include px1024{
        transform: translateY(80%);
    }

    @include px768-1023{
        transform: translateY(85%);
    }

    @include px767{
        transform: translateY(85%);
    }

    &:hover{
        opacity: 1;
        transform: translateY(0%);
        transition: opacity 0.3s , background-color,  transform 0.3s;
    }

    &:hover > .footer__container::after{
        background-image: url("../img/svg/logo-active.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__container{
        height: 100%;
        width: 100%;
        position: relative;

        display: flex;
        flex-direction: column;

        &::after{
            content: "";
            display: block;

            position: absolute;

            transform: translateY(-50%);
            top: 50%;
            left: 5vw;

            z-index: -1;

            @include px1400 {
                height: 90%;
                width: 25vw;
            }

            @include px1024-1399 {
                height: 74%;
                width: 25vw;
            }

            @include px768-1023 {
                height: 80%;
                width: 35vw;
            }

            @include px767 {
                height: 75%;
                width: 40vw;
                min-width: 250px;
            }
        }

    }

    &__title {
        font-weight: 800;
        font-family:'TimesNewItalic', sans-serif;
        margin-bottom: 10vh;

        @include px1920{
            font-size: 65px;
        }

        @include px1024-1919{
            font-size: 45px;
        }
    
        @include px768-1023{
            font-size: 32px;
        }
    
        @include px767{
            font-size: 30px;
        }

        text-align: center;
    }

    &__list {
        margin-bottom: 15vh;
    }

    &__item {
        &:not(:last-child){
            margin-bottom: 3vh;
        }
    }

    &__item-disscription {
        font-weight: 800;

        @include px1024{
            font-size: 26px;
        }

        @include px768{
            font-size: 22px;
        }

        @include px767{
            font-size: 18px;
        }
    }

    &__item-link {
        display: inline-block;
        font-weight: 800;
        font-family: 'TimesNewItalic', sans-serif;

        transition: transform 0.3s;

        &:hover,
        &:focus{
            transform: translateX(10%) scale(1.2);
            transition: transform 0.3s;
        }

        @include px1024{
            font-size: 26px;
        }

        @include px768{
            font-size: 22px;
        }

        @include px767{
            font-size: 18px;
        }
    }

    &__copywriter{
        margin-top: auto;
        text-align: center;

        font-weight: 800;

        @include px1024{
            font-size: 26px;
        }

        @include px768-1023{
            font-size: 22px;
        }

        @include px767{
            font-size: 20px;
        }

        &_company{
            font-family: 'TimesNewItalic',sans-serif;
        }
    }
}