.form {
    position: fixed;
    display: none;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background: #FFFFFF;
    border-radius: 11px;

    @include px768{
        width: 563px;
    }

    @include px767{
        width: 90vw;
        max-width: 563px;
    }

    &_active{
        overflow: hidden;
        display: block;
        z-index: 1000000;

        animation: formOpen .3s normal linear 1;
    }

    &__container {
        opacity: 1;

        animation: containerOpen .6s normal linear 1;
    }

    &__close {
        position: relative;
        cursor: pointer;
        background-color: transparent;

        display: block;

        outline: none;
        border: none;

        width: 14px;
        height: 14px;

        margin-left: auto;
        margin-right: 14px;
        margin-top: 15px;

        transition: transform 0.3s;

        &::after,
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;

            background-color: black;

            width: 100%;
            height: 1px;

            transition: background-color 0.3s;
        }

        &::after{
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::before{
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:focus::after,
        &:focus::before,
        &:hover::after,
        &:hover::before{
            background-color: red;
            transition: background-color 0.3s;
        }

        &:active{
            transform: scale(0.9);
            transition: transform .3s;
        }
        
    }

    &__form {
        padding: 19px 69px 19px 67px;
        display: flex;
        flex-direction: column;
    }

    &__form-title {
        font-size: 17px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: -0.2px;

        margin-bottom: 12px;

        @include px480{
            white-space: nowrap;
        }
    }

    &__form-label {
        position: relative;
        padding-left: 29px;
        padding-bottom: 6px;

        border-bottom: 1px solid #8EAC8F;

        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &__form-input {
        outline: none;
        border: none;

        background-color: transparent;

        font-size: 15px;
        line-height: 19px;

        width: 100%;

        &::placeholder{
            font-size: 13px;
            font-style: italic;
            font-weight: 400;
            line-height: 19px;

            color:#527735;

            transition: color 0.4s;
        }

        &:focus + .form__form-icon {
            fill: #5DCE76;

            transition: fill 0.4s;
        }

        &:focus::placeholder{
            color: #5DCE76;

            transition: color 0.4s;
        }
    }

    &__form-icon {
        position: absolute;
        top: 38%;
        left: 5px;
        transform: translateY(-50%);

        width: 10px;
        height: 11px;

        fill:#56A868;

        transition: fill 0.4s;
    }

    &__form-btn {
        position: relative;
        border: none;
        outline: none;

        cursor: pointer;

        text-align: center;
        width: 100%;
        max-width: 287px;
        height: 40px;
        
        background: #56A868;
        border-radius: 5px;

        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        

        color: white;

        margin-top: 8px;
        margin-bottom: 17px;
        margin-left: 1px;

        transition: background-color 0.4s, transform 0.4s;

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: transparent;

            border: 1px solid transparent;
            border-radius: 5px;

            transition: border-color 0.4s;
        }

        &:hover,
        &:focus{
            background-color: #5DCE76;
            transition: background-color 0.4s;
        }

        &:hover::after,
        &:focus::after{
            border-color: #5DCE76;
            transform: translate(5px, -5px);
            transition: border-color 0.4s, transform 0.4s;

            opacity: 1;
        }
        
        @include noteFocuseBtn;


        &:active{
            transform: scale(0.9);
            transition: transform 0.4s;
        }
    }

    &__form-check {
        position: relative;

        user-select:none;

        font-size: 12px;
        line-height: 15px;

        padding-left: 18px;

        opacity: 0;

        transition: opacity .3s;

        &_processing{
            opacity: 1;
            color: black;

            transition: opacity .3s;
        }

        &_accomplished{
            opacity: 1;
            color: #527735;

            transition: opacity .3s;
        }

        &_error{
            opacity: 1;
            color: red;

            transition: opacity .3s;
        }

        &::after{
            content: '';
            display: block;

            position: absolute;
            left: 6px;
            top: 1px;
            transform: translateX(-50%);

            width: 10px;
            height: 10px;

            background-image: url('../img/svg/form/check.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

@keyframes formOpen{
    0%{
        width: 1%;
    }

    100%{
        @include px768{
            width: 563px;
        }
    
        @include px767{
            width: 90vw;
            max-width: 563px;
        }
    }
}

@keyframes containerOpen{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}