$RED: red;
$BLACK: black;
$WHITE: white;
$YELLOW: #FF9900;
$DARK-GRAY: #D2D2D2;
$BG: #E6E6FA;

$paddingXContainer: 15px;

.container{
    outline: none;
    margin: 0 auto;

    max-width: calc(1440px + (15px * 2));
    padding: 0 $paddingXContainer;
    
}

@mixin noteFocuseBtn {
    &:focus:not(.focus-visible) {
        background-color: #56A868;
        color: white;
    }

    &:focus:not(.focus-visible)::after{
        opacity: 0;
    }
}

.open-modal{
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        position: absolute;
        height: 1000%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $BLACK;
        opacity: 0.4;
        z-index: 8;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}