$RED: red;
$BLACK: black;
$WHITE: white;
$YELLOW: #FF9900;
$DARK-GRAY: #D2D2D2;

$paddingXContainer1920: 75px;
$paddingXContainer768: 50px;
$paddingXContainer320: 15px;

.container{
    margin: 0 auto;

    @include px1400{
        max-width: 1920px;
        padding: 0 $paddingXContainer1920;
    }

    @include px768-1399 {
        padding: 0 $paddingXContainer768;
    }

    @include px767 {
        padding: 0 $paddingXContainer320;
    }
}

@mixin title{
    @include px1400{
        font-size: 32px;
        margin-bottom: 10vh;
    }

    @include px1024-1399{
        font-size: 32px;
        margin-bottom: 8vh;
    }

    @include px768-1023{
        font-size: 32px;
        margin-bottom: 7vh;
    }

    @include px767{
        font-size: 26px;
        margin-bottom: 5vh;
    }
}

@mixin section{
    padding-bottom: 15px;

    @include px1400{
        padding-top: 15vh;
    }

    @include px768-1399{
        padding-top: 10vh;
    }

    @include px767{
        padding-top: 15vh;
    }
}

.open-modal{
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        position: absolute;
        height: 1000%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $BLACK;
        opacity: 0.4;
        z-index: 8;
    }
}