$RED: red;
$BLACK: black;
$WHITE: white;
$YELLOW: #FF9900;
$DARK-GRAY: #D2D2D2;
$BG: #E6E6FA;

$paddingXContainer: 15px;

.container{
    outline: none;
    margin: 0 auto;

    max-width: calc(1440px + (15px * 2));
    padding: 0 $paddingXContainer;
    
}

@mixin noteFocuseBtn {
    &:focus:not(.focus-visible) {
        background-color: #56A868;
        color: white;
    }

    &:focus:not(.focus-visible)::after{
        opacity: 0;
    }
}

.card{
    overflow: hidden;
    
    width: 70vw !important;
    height: 70vh;
}

.open-card{
    cursor: pointer;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}