.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    transition: background-color 0.3s;

    @include px1024{
        background-color: transparent;
    }

    @include px1023{
        background-color: white;
    }

    @include px768{
        padding: 14px 0;
    }

    @include px767{
        padding: 5px 0;
    }

    &_scroll{
        background: $WHITE;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.07);

        transition: background-color 0.3s;

    }

    &_scroll .header__logo{
        background-image: url('../img/svg/logo/logo-green.svg');
    }

    &__container {
        position: relative;

        @include px1023{
            display: flex;
            align-items: center;
        }
    }

    &__logo{
        display: inline-block;

       @include px1024{
            outline: none;
            border: none;
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 16%;
            height: 64px;

            background-image: url('../img/svg/logo/logo-white.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            z-index: 1;

            transition: transform 0.3s;

            &:active{
                transform: scale(0.9) translate(-50%, -50%);
                transition: transform 0.3s;
            }
       }

       @include px1023{
            order: -1;

            height: 46px;
            width: 163px;  

            background-image: url('../img/svg/logo/logo-green.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;  
        }
    }

    &__nav {
        position: relative;

        @include px1023{
            display: none;
            flex-direction: column;

            position: fixed;

            background-color: white;
            right: 0;
            top: 0;

            opacity: 1;

            max-height: 100vh;
            overflow: auto;
        }

        &_active{
            display: flex;
        }
    }

    &__nav-open-btn{
        @include px1024{
            display: none;
        }

        @include px1023{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            margin-left: auto;

            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover{
                align-items: flex-end;
            }

            &:hover > .header__nav-open-burger,
            &:focus > .header__nav-open-burger{
                background-color: #5DCE76;
                
                &:nth-child(2){
                    width: 70%;
                }
                &:nth-child(3){
                    width: 30%;
                }

                transition: width 0.3s, background-color 0.3s;
            }

            &:focus:not(.focus-visible) > .header__nav-open-burger{
                background-color: black;

                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 100%;
                }
            }

            &:focus:not(.focus-visible){
                align-items: center;
                justify-content: space-evenly;
            }
        }

        @include px768-1023{
            width: 40px;
            height: 40px;
        }

        @include px767{
            width: 30px;
            height: 30px;
        }
    }

    &__nav-open-burger{
        display: block;
        width: 100%;
        height: 2.2px;
        background-color: black;

        pointer-events: none;

        transition: width 0.3s, background-color 0.3s;
    }

    &__nav-close-btn{
        @include px1024{
            display: none;
        }

        @include px1023{
            position: relative;
            order: -1;

            z-index: 10;

            margin-left: auto;

            padding: 0;

            display: block;

            outline: none;
            border: none;

            cursor: pointer;

            background-color: transparent;
            width: 20px;
            height: 20px;

            &:hover > .header__nav-close-burger,
            &:hover > .header__nav-close-burger,
            &:focus > .header__nav-close-burger,
            &:focus > .header__nav-close-burger{
                background-color: #5DCE76;

                transition: background-color 0.3s ;
            }
        }
    }

    &__nav-close-burger{
        @include px1023{
            display: block;
            position: absolute;

            top: 50%;
            left: 50%;

            width: 100%;
            height: 2px;

            background-color: black;

            transition: background-color 0.3s ;

            &:nth-child(1){
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2){
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    // title-block

    &__title-block{
        @include px1024{
            display: none;
        }

        @include px1023{
            display: flex;
            justify-content: space-between;

            padding: 25px;

            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
        }
    }

    &__mobail-title {
        order: -1;

        font-weight: 600;
        text-transform: uppercase;


        @include px768-1023{
            font-size: 22px;
            line-height: 24px;
        }

        @include px767{
            font-size: 14px;
            line-height: 18px;
        }
    }

    //nav-block

    &__nav-block{
        position: relative;
        width: 100%;

        @include px1024{
            display: grid;
            justify-content: space-between;
            width: 100%;
        }

        @include px1400{
            grid-template-columns: repeat(2, 37%);
        }

        @include px1024-1399{
            grid-template-columns: repeat(2, 40%);
        }

        @include px1023{
            padding: 25px;
        }
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;

        @include px1024{
            align-items: center;
        }

        @include px1023{
            flex-direction: column;

            &:not(:last-child){
                margin-bottom: 40px;
            }
        }
    }

    &__nav-item {
        @include px1024{
            max-width: 25%;
        }

        @include px1023{
            &:not(:last-child){
                margin-bottom: 40px;
            }
        }
    }

    &__nav-link {
        outline: none;
        display: inline-block;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;

        &:focus,
        &:hover {
            border-color: white;

            transition: border-color 0.4s;
        }

        &:active{
            transform: scale(0.9);
            transition: transform .4s;
        }

        &_active{
            color: #9CBF2D !important;
            border-color: #9CBF2D !important;

            transition: color .4s, border-color 0.4s, transform 0.4s;

            &:focus{
                transform: scale(1.2);

                transition: transform 0.4s;
            }

            &:focus:not(.focus-visible) {
                transform: scale(1);
            }
        }

        transition: border-color 0.4s, transform 0.4s, color 0.4s;

        @include px1024{
            font-weight: 600;
            margin-top: 10px;

            color: white;
        }

        @include px1400{
            font-size: 17px;
            line-height: 20px;
        }

        @include px1024-1399{
            font-size: 14px;
            line-height: 16px;
        }

        @include px1023{
            white-space: nowrap;

            &:focus,
            &:hover {
                border-color: #9CBF2D;
            }
        }

        @include px768-1023{
            font-size: 16px;
            line-height: 18px;
        }

        @include px767{
            font-size: 13px;
            line-height: 18px;
        }

        &_scroll{
            color:#000 !important;
            &:focus,
            &:hover {
                border-color: #9CBF2D;
            }
        }
    }

    //contacts-block

    &__contacts-block{
        @include px1024{
            display: none;
        }

        @include px1023{
            background-color: #F5F5F5;
            padding: 25px;
        }
    }

    &__contacts-block {
    }

    &__contacts-list {
    }

    &__contacts-item {
        @include px1023{
            position: relative;
            padding-left: 25px;

            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
    }

    &__contacts-link {
        cursor: pointer;
        display: inline-block;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;

        @include px768-1023{
            font-size: 16px;
            line-height: 18px;
        }

        @include px767{
            font-size: 13px;
            line-height: 18px;
        }

        &:hover,
        &:focus{
            border-color:#5DCE76;
            transition: border-color 0.4s;
        }

        &:hover + .header__contacts-icon,
        &:focus + .header__contacts-icon{
            fill:#5DCE76;
            transition: fill 0.4s;
        }
    }

    &__contacts-icon{
        position: absolute;
        left: 2px;
        top: 2px;

        display: block;

        width: 16px;
        height: 16px;

        fill: #56A868;

        transition: fill 0.4s;
    }
}
