.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    background-color: $DARK-GRAY;
    opacity: 0.8;
    transition: opacity 0.3s, background-color 0.3s;

    &_active{
        background-color: rgba($color: $DARK-GRAY, $alpha: 0);
        opacity: 1;
        transition: opacity 0.3s, background-color 0.3s;
    }

    &:hover{
        opacity: 1;
        transition: opacity 0.3s;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo-link {
        display: block;

        outline: none;

        background-image: url("../img/svg/logoHeader.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        transition: background-image 0.3s, transform 0.3s;

        @include px1920 {
            margin: 5px 0; 
            width: 300px;
            height: 100px;
        }

        @include px768-1919 {
            margin: 5px 0; 
            width: 200px;
            height: 70px;
        }

        @include px767 {
            margin: 5px 0; 
            width: 170px;
            height: 60px;

            @include h320-459{
                height: 45px;
                width: 150px;
            }
        }

        &:focus,
        &:hover{
            transform: scale(1.2);
            background-image: url("../img/svg/logoHeader-active.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            transition: background-image 0.3s, transform 0.3s;
        }
    }

    &__nav-open-btn{
        @include px1024{
            display: none;
        }

        @include px1023{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            margin-left: auto;

            width: 50px;
            height: 40px;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover{
                align-items: flex-end;
            }

            &:hover > .header__nav-open-burger,
            &:focus > .header__nav-open-burger{
                background-color: red;
                
                &:nth-child(2){
                    width: 50%;
                }
                &:nth-child(3){
                    width: 30%;
                }

                transition: width 0.3s, background-color 0.3s;
            }
        }
    }

    &__nav-open-burger{
        display: block;
        width: 75%;
        height: 2.2px;
        background-color: black;

        pointer-events: none;

        transition: width 0.3s, background-color 0.3s;
    }

    &__nav {
        &_active{
            display: flex !important;
        }

        @include px1024{
            margin: 0 auto;
        }

        @include px1023{
            display: none;
            flex-direction: column;

            position: fixed;

            background-color: $WHITE;
            right: 0;
            top: 0;

            height: 100vh;

            opacity: 1;
        }

        @include px768-1023{
            width: 50vw;
        }

        @include px767{
            width: 100vw;
        }
    }

    &__nav-close-btn{
        @include px1024{
            display: none;
        }

        @include px1023{
            position: relative;
            order: -1;

            margin-top: 2vh;
            margin-right: 2vw;
            margin-bottom: 10vh;
            margin-left: auto;

            padding: 0;

            display: block;

            outline: none;
            border: none;

            cursor: pointer;

            background-color: transparent;
            width: 50px;
            height: 50px;

            &:hover > .header__nav-close-burger,
            &:hover > .header__nav-close-burger,
            &:focus > .header__nav-close-burger,
            &:focus > .header__nav-close-burger{
                background-color: red;

                transition: background-color 0.3s ;
            }
        }
    }

    &__nav-close-burger{
        @include px1023{
            display: block;
            position: absolute;

            top: 50%;
            left: 50%;

            width: 70%;
            height: 2px;

            background-color: black;

            transition: background-color 0.3s ;

            &:nth-child(1){
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2){
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__nav-list {
        display: flex;
        order: 1;

        @include px1023{
            flex-direction: column;
            align-items: center;

            @include h320-459{
                margin-top: 0;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }

    &__nav-item {
        &:focus > .header__nav-link,
        &:hover > .header__nav-link{
            background: linear-gradient(0deg, rgba(34,174,195,1) 39%, rgba(177,253,45,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            border-image: linear-gradient(90deg, rgba(117,187,55,1) 9%, rgba(146,246,53,1) 50%, rgba(69,216,252,1) 100%);
            border-image-slice: 1;

            transform: scale(1.1);

            transition: transform 0.4s;
        }

        @include px1024{
            &:not(:last-child){
                margin-right: 5%;
            }
        }

        @include px1023{
            &:not(:last-child){
                margin-bottom: 2vh;
            }

            @include h320-459{
                width: 40%;

                &:nth-child(odd){
                    text-align: right;
                }
            }
        }

    }

    &__nav-link {
        display: inline-block;
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;

        font-family:'TimesNewItalic', sans-serif;
        font-weight: 800;

        transition: background 0.3s, border-image 0.3s, transform 0.3s;

        @include px1920{
            font-size: 30px;
        }

        @include px1400-1919{
            font-size: 22px;
        }

        @include px1024-1399{
            font-size: 18px;
        }

        @include px768-1023{
            font-size: 24px;
        }

        @include px767{
            font-size: 30px;

            @include h320-459{
            }
        }
    }
}
