.preparation-of-seeds {
    @include px1400{
        margin-top: 155px;
    }

    @include px1024-1399{
        margin-top: 100px;
    }

    &__container {
    }

    &__title {
        text-transform: uppercase;

        font-size: 33px;
        font-weight: 600;
        line-height: 19px;

        margin-bottom: 19px;

    }

    &__discription {
        font-size: 16px;
        line-height: 19px;

        &:not(:last-child){
            margin-bottom: 7px;
        }
    }
}