.price {
    margin-top: 154px;

    &__container{
        display: grid;
        grid-template-columns: 37% 59%;
        justify-content: space-between;
    }

    &__content-block{
        margin-top: 30px;
    }

    &__title {
        font-size: 33px;
        font-weight: 600;
        line-height: 19px;

        text-transform: uppercase;

        margin-bottom: 17px;
    }

    &__list-discription {
        font-size: 16px;
        line-height: 19px;

        margin-bottom: 7px;
    }

    &__list {
        margin-bottom: 33px;
    }

    &__item {
        position: relative;
        padding-left: 17px;

        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;

            width: 5px;
            height: 5px;

            transform: translateY(-50%);

            background-color: #56A868;
            border-radius: 100%;
        }

        &:not(:last-child){
            @include px768{
                margin-bottom: 7px;
            }
        }
    }

    &__item-discription {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    &__discription {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
    }

        //форм

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;

        height: 100%;

        background-color: #ECF2E6;
        border-radius: 14px;

        padding: 26px 73px 22px;

        &::before{
            content: '';
            display: block;

            position: absolute;
            left: 10px;
            bottom: 10px;

            width: 100%;
            height: 100%;

            background-color:transparent;

            border: 1px solid #B7C7BE;
            border-radius: 14px;

            z-index: -1;
        }
    }

    &__img-container{
        position: absolute;
        border-radius: 14px;
        overflow: hidden;

        width: 50%;
        height: 100%;

        right: 0px;
        bottom: 0px;

        &::after{
            content: '';
            display: block;

            position: absolute;
            right: -10px;
            bottom: 0px;

            background-image: url('../img/price/branch.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            width: 100%;
            height: 100%;
        }  
    }

    &__form-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 19px;

        margin-bottom: 25px;
    }

    &__form-label{
        position: relative;
        padding-left: 29px;
        padding-bottom: 6px;

        width: 71%;

        border-bottom: 1px solid #8EAC8F;

        &:not(:last-child){
            margin-bottom: 25px;
        }
    }

    &__form-icon{
        position: absolute;
        top: 38%;
        left: 6px;
        transform: translateY(-50%);

        width: 12px;
        height: 12px;

        fill:#56A868;

        transition: fill 0.4s;
    }

    &__form-input {
        outline: none;
        border: none;

        background-color: transparent;

        font-size: 15px;
        line-height: 19px;

        &::placeholder{
            font-size: 13px;
            font-style: italic;
            font-weight: 400;
            line-height: 19px;

            color:#527735;

            transition: color 0.4s;
        }

        &:focus + .price__form-icon {
            fill: #5DCE76;

            transition: fill 0.4s;
        }

        &:focus::placeholder{
            color: #5DCE76;

            transition: color 0.4s;
        }
    }

    &__form-btn {
        position: relative;
        border: none;
        outline: none;

        cursor: pointer;

        text-align: center;
        width: 326px;
        height: 45px;
        
        background: #56A868;
        border-radius: 5px;

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;

        color: white;

        margin-top: 13px;

        transition: background-color 0.4s, transform 0.4s;

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: transparent;

            border: 1px solid transparent;
            border-radius: 5px;

            transition: border-color 0.4s;
        }

        &:hover,
        &:focus{
            background-color: #5DCE76;
            transition: background-color 0.4s;
        }

        &:hover::after,
        &:focus::after{
            border-color: #5DCE76;
            transform: translate(5px, -5px);
            transition: border-color 0.4s, transform 0.4s;
        }

        &:active{
            transform: scale(0.9);
            transition: transform 0.4s;
        }
    }
}