.services {
    @include section;

    @include px1399{
        background-image: url('../img/castom_img/desctop/desct_1.jpg');
        background-size: cover;

        background-repeat: no-repeat;

        &::after{
            overflow: hidden;

            @include px1399{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $BLACK;
                opacity: 0.4;
                z-index: -4;
            }
        }
    }

    &__title {
        @include title;

        @include px1399{
            color: white;
        }
    }

    &__list {

    }

    &__item{
        &:nth-child(1){
            border-top: 2px solid gray;
        }
        border-bottom: 2px solid gray;
    }

    &__btn-services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        position: relative;

        background-color: transparent;
        border: none;
        outline: none;

        cursor: pointer;

        transition: color 0.3s;
        font-weight: 800;
        font-family:'TimesNewItalic', sans-serif;
        text-align: left;

        &:hover > .services__item-btn-icon,
        &:focus > .services__item-btn-icon,
        &:active > .services__item-btn-icon{
            background-color: $DARK-GRAY;
            opacity: 1;
            transition: background-color 0.3s, opacity 0.3s;
        }

        &:hover,
        &:focus{
            color: $YELLOW;
            transition: color 0.3s;
        }

        @include px1920{
            padding: 30px 30% 30px 1%;

            font-size: 28px;
        }

        @include px1400-1919{
            padding: 30px 30% 30px 1%;

            font-size: 22px;
        }

        @include px768-1399{
            padding: 30px 30% 30px 1%;

            font-size: 18px;
            color: white;
        }

        @include px767{
            padding: 30px 30% 30px 1%;

            font-size: 16px;
            color: white;
        }
    }

    &__item-btn-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: gray;

        opacity: 0.4;

        width: 50px;
        height: 50px;

        transition: background-color 0.3s, opacity 0.3s;

        &_rotate{
            transform: rotate(45deg);
            transition: transform 0.3s;
        }

        &::before{
            content: "";
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;

            width: 75%;
            height: 2px;

            background-color: black;

            transform: translate(-50%, -50%);

        }

        &::after{
            content: "";
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;

            width: 75%;
            height: 2px;

            background-color: black;

            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    &__container-response {
        display: none;
        overflow: hidden;

        @include px1400{
            padding-bottom: 31px;
        }

        @include px1024-1399{
            padding-bottom: 33px;   
        }

        @include px768-1023{
            padding-bottom: 24px;   
        }

        @include px767{
            padding-bottom: 22px;   
        }
    }

    &__response {
        transform: translateX(-120%);
        opacity: 0;

        @include px1399{
            color: $WHITE;
        }

        transition: transform 0.5s, opacity 0.5s;

        &_active1{
            transform: translateX(0%);
            opacity: 1;

            transition: transform 0.5s, opacity 0.5s;
        }

        &_active2{
            transform: translateX(120%);
            opacity: 0;

            transition: transform 0.5s, opacity 0.5s;
        }
    }
}