.when {
    @include section;

    &__text-block{


        margin-bottom: 50px;
    }

    &__img-block{
        width: 30%;
        height: 100px;

        background-size:cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;

        float: right;

        shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);

        background: url('../img/castom_img/aboutUs/1.jpg');
        
    }

    &__text-container{

    }

    &__title {
        @include title;
    }

    &__discription {
        font-weight: 400;

        @include px1400{
            font-size: 28px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        @include px1024-1399{
            font-size: 24px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        @include px768-1023{
            font-size: 20px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }
        }

        @include px767{
            font-size: 17px;
            &:not(:last-child){
                margin-bottom: 3vh;
            }

            @include h320-459{
                font-size: 14px;
            }
        }

        &_name{
            font-family:'TimesNewItalic', sans-serif;
        }
    }
}