/* Times New Roman Regular */

@font-face {
  font-family: 'TimesNew';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Times New Roman Regular'), local('TimesNewRomanRegular'),
       url('../fonts/TimesNew-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TimesNew-400.woff') format('woff'), /* Modern Browsers */
}

/* Times New Roman Regular itelic */

@font-face {
  font-family: 'TimesNewItalic';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Times New Roman Italicr'), local('TimesNewRomanItalic'),
       url('../fonts/TimesNew-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TimesNew-400-italic.woff') format('woff'), /* Modern Browsers */
}


/* Times New Roman Bold */


@font-face {
  font-family: 'TimesNew';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Times New Roman Bold'), local('TimesNewRomanBold'),
       url('../fonts/TimesNew-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TimesNew-800.woff') format('woff'), /* Modern Browsers */
}

/* Times New Roman Bold Italic */


@font-face {
  font-family: 'TimesNewItalic';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Times New Roman Bold Italic'), local('TimesNewRomanBoldItalic'),
       url('../fonts/TimesNew-800-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TimesNew-800-Italic.woff') format('woff'), /* Modern Browsers */
}

